html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.side1{
  float: left;
      width: 20%;
      background-color: yellow;
}

.side2{
  float: right;
      width: 80%;
      background-color: green;
}

.side1_1{
background-color: red;
/*position:absolute;
top:0px;*/
/*width:inherit;*/
}

.side1_2{
  background-color: blue;
/*width:inherit;*/
}

.side2_1{
  background-color: red;
  min-height: 200px;
}

.side2_2{
  background-color: blue;
  min-height: 300px;
}
